* {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #5f062b;
}

header {
  background-color: #a50044;
  color: white;
  padding: 10px 0;
  text-align: center;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  background-image: linear-gradient(#a50044, #5f062b);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
header img {
  max-width: 400px;
  height: auto;
  margin: 0 auto;
  padding-bottom: 2em;
  padding: 3rem;
}
header h1 {
  margin: 0;
  font-size: 2em;
}
h3 {
  font-size: 1em;
}
nav {
  margin: 20px 0;
}

nav ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.2em;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

nav ul li a:hover {
  background-color: #800033;
}

main {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.news {
  padding: 20px;
  border-radius: 8px;
  background-color: #ffffff;
}
.news a {
  text-decoration: none;
}
.news h1 {
  border-bottom: 2px solid #d71920;
  width: 96.5%;
  margin-right: 30px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  font-size: 30px;
}

hr {
  margin-right: 20px;
}
h1 {
  font-size: 2rem;
  color: #333333;
  text-align: left;
  width: 100%;
  padding-left: 2rem;
}

article.col {
  display: inline-block;
  width: 30%;
  margin: 0 1.5%;
  vertical-align: top;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  background-image: radial-gradient(#a50044, #5f062b);
  border-radius: 10px;
  margin-bottom: 20px;
}
article.col:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
article.col img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

article.col h2 {
  font-size: 1.2em;
  margin: 10px;
  color: #ffffff;
}

.clear {
  clear: both;
}

footer {
  background-color: #4e0523;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}
